.DS_Store
__pycache__

# Ignore all log, api & result files 
*.log 
*.txt
*.csv
*.xls
*.xlsx
*.ipynb
*.session

# Ignore output, credentials & old folders
output/
old/
keys/
nltk_data/
session/
manual analysis/
